# swap files
.*.swp
.*.swo

# potential kernel image files
*.efi
*.img
*.bin
*kernel*
*vmlinuz*
*linux*

# archive file
*.cpio

# root initramfs
root
*.root

# eki script it self. Since it should be built via the concat script/Makefile
eki
